# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf
.terraform.lock.hcl

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Mac
.DS_Store

# local env files
.env
.envrc
credentials
step3/data/

# Opentelemetry Demo
*~
*.iml
*.ipr
*.iws
*.pyc
.nb-gradle
.nb-gradle-properties
.swp
.DS_Store
\#*\#

docker-compose.override.yml

# Eclipse
.classpath
.project
.settings

bin/
obj/
.vs/
.vscode
.gradle/
.idea/
build/
node_modules/
coverage
.next/
out/
build
next-env.d.ts
vendor/
composer.lock
.venv
.dockerhub.env
.ghcr.env

src/frontend/cypress/videos
src/frontend/cypress/screenshots
src/shippingservice/target/
test/tracetesting/tracetesting-vars.yaml

# Ignore copied/generated protobuf files
step3.1/src/cartservice/src/protos/
step3.1/src/featureflagservice/proto/
step3.1/src/featureflagservice/src/ffs_demo_pb.erl
step3.1/src/featureflagservice/src/ffs_service_*.erl
step3.1/src/featureflagservice/src/oteldemo_*.erl
step3.1/src/frauddetectionservice/src/main/proto
step3.1/src/frontend/pb/
step3.1/src/frontend/protos/
step3.1/src/paymentservice/demo.proto
step3.1/src/recommendationservice/demo_pb2*.py
step3.1/src/shippingservice/proto/
step3.1/src/productcatalogservice/genproto
step3.1/src/currencyservice/proto
step3.1/src/checkoutservice/genproto
step3.1/src/accountingservice/genproto
